<section id="fh5co-blocks" class="animated">
		<div class="container">
			  <div class="row row-bottom-padded-lg grid">
				    <div class="grid-item">
					      <div class="overlay-darker"></div>
					      <div class="overlay"></div>
					      <div class="fh5co-text">
						        <p>words</p>
					      </div>
				    </div>
				    <div class="grid-item">
					      <div class="overlay-darker"></div>
					      <div class="overlay"></div>
					      <div class="fh5co-text">
						        <p>words</p>
					      </div>
				    </div>
				    <div class="grid-item">
					      <div class="overlay-darker"></div>
					      <div class="overlay"></div>
					      <div class="fh5co-text">
						        <p>words</p>
					      </div>
				    </div>
				    <div class="grid-item">
					      <div class="overlay-darker"></div>
					      <div class="overlay"></div>
					      <div class="fh5co-text">
						        <p>words</p>
					      </div>
				    </div>
        </div>
        <script>layout()</script>
    </div>
</section>

