	<section id="fh5co-work" data-section="sponsorship">
		<div class="container">
			  <!-- <div class="row">
				     <div class="col-md-12 section-heading text-center">
					   <h2 class="to-animate">{{ with .Site.Params.sponsorship.title }}{{ . }}{{ end }}</h2>
					   </div>
				     </div>
			       </div>
           -->
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.sponsorship.title2 }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="/images/sfss-logo.png" alt="SFSS" style="width:250px;">
						</div>	
					</div>	
					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/act-logo.png" alt="SFU Actuarial dept" style="width:250px;">
						</div>	
					</div>	
					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/bpk-logo.png" alt="BPK Core" style="width:250px;">
						</div>	
					</div>	
					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/psa-logo.png" alt="PSA Core" style="width:250px;">
						</div>	
					</div>	
				</div>
			</div>


		</div>
	</section>
