<section id="fh5co-work" data-section="sponsorship">
        <div class="container">
                <!-- <div class="row">
		             <div class="col-md-12 section-heading text-center">
                                     <h2 class="to-animate">{{ with .Site.Params.sponsorship.title }}{{ . }}{{ end }}</h2>
		             </div>
		             </div>
	          	     </div>
                -->
	        <div class="row">
		        <div class="col-md-12 section-heading text-center">
			        <h2 class="to-animate">{{ with .Site.Params.sponsorship.title2 }}{{ . }}{{ end }}</h2>
                        </div>
			<div class="text-wrap" style="align:center">
				<div style="display: table; margin-left: auto; margin-right: auto ">
				        <div style="display: table-row; height: 250px">
				                <div class="to-animate" style="display: table-cell; width:400px">
						        <img src="images/sponsors/sfss-logo.png" alt="SFSS" style="width:250px;">
                                                </div>
				                <div class="to-animate" style="display: table-cell">
                                                        <img src="images/sponsors/cibc.png" alt="CIBC" style="width:220px;">
				                </div>
                                        </div>
				        <div style="display: table-row; height: 250px">
				                <div class="to-animate" style="display: table-cell">
				        		<img src="images/sponsors/ilia.jpg" alt="Club Ilia" style="width:220px;">
                                                </div>
				                <div class="to-animate" style="display: table-cell">
				        	        <img src="images/sponsors/logo.png" alt="Uncle Fatihs" style="width:250px;">
				                </div>
				        </div>
				        <div style="display: table-row; height: 250px">
				                <div class="to-animate" style="display: table-cell">
				        		<img src="images/sponsors/bpk.png" alt="BPK" style="width:220px;">
                                                </div>
				                <div class="to-animate" style="display: table-cell">
				        	        <img src="images/sponsors/starbucks.jpg" alt="Starbucks" style="width:250px;">
				                </div>
				        </div>
				        <div style="display: table-row; height: 250px">
                                                <div class="to-animate" style="display: table-cell">
				        		<img src="images/sponsors/pastapolo.jpg" alt="Pasta Polo" style="width:220px;">
                                                </div>
				                <div class="to-animate" style="display: table-cell">
				        		<img src="images/sponsors/kenza.jpg" alt="Kenza" style="width:220px;">
                                                </div>

				        </div>
				        <div style="display: table-row; height: 250px">
				                <div class="to-animate" style="display: table-cell">
				        	        <img src="images/sponsors/m.png" alt="M" style="width:220px;">
				                </div>
				                <div class="to-animate" style="display: table-cell">
				        	        <img src="images/sponsors/scotiabank.png" alt="Scotiabank" style="width:220px;">
				                </div>
				        </div>
                                </div>
		        </div>
		</div>
        </div>
</section>
