<!--https://viljamis.com/columns/
     <h1>2-column fluid masonry layout without JS plugins</h1>
     <p>Easily turn simple 1-column layout into a fluid 2-column masonry layout without JS plugins. Works even in IE6! <a href="https://gist.github.com/viljamis/5004354">View the source code</a></p>-->


<section id="fh5co-timeline" data-section="time">
    <div class="wrap" >
		<div class="gradient"></div>
    <article>
        <div style="float: right: ;; height: 100px;"></div>
    </article>

		{{ range .Site.Params.time.item }}
    <article>
        {{ if .hasbadge }}
        <div class="badge">
            <a name="a">
                {{ .time }}
            </a>
        </div>
        {{ end }}
        <div class="content">
            {{ if .shade }}
				    <div class="overlay"></div>
            {{ end }}
            <h2>{{ .title }}</h2>
				    <div class="fh5co-text">
						    <p>{{ .text }}</p>
				    </div>
            <img src={{ .img }}></img>
        </div>
    </article>
    {{end}}

    <script>layout()</script>
    </div>
</section> 
