<!--https://viljamis.com/columns/
     <h1>2-column fluid masonry layout without JS plugins</h1>
     <p>Easily turn simple 1-column layout into a fluid 2-column masonry layout without JS plugins. Works even in IE6! <a href="https://gist.github.com/viljamis/5004354">View the source code</a></p>-->


<section id="fh5co-timeline">
    <article>
        <div style="float: right: ;; height: 110px;"></div>
    </article>

		{{ range .Site.Params.counters.item }}
    
    <article>
    <div class="badge">
        <a name="aaa">
            12
        </a>
    </div>
    <div class="content">
        <h3>title</h3>
        <div>

        </div>
        <div>
            bit wor
        </div>
    </div>
    </article>

    {{end}}

    <script>layout()</script>
</section> 
