* { box-sizing: border-box; }

body { font-family: sans-serif; }

#fh5co-blocks .gradient {
    height: 100%;
  z-index: 2;
  opacity: .9;
  -webkit-backface-visibility: hidden;
  background-color: #0D2747;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}
/* ---- grid ---- */

.grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    background-color: transparent;
    max-width: 1200px;
}


/* actual blocks */

.grid-item {
    width: 50%;
    max-width: 50%;
    float: left;
    text-align: center;
    font-size: 20px;
    min-height: 200px;
    vertical-align: middle;
    padding: 0px;
    background-color: transparent;
    /* -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); */
    /* -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); */
    /* -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); */
    /* -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); */
    /* box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4); */
    z-index: 7;
    flex-grow: 1;
    background-size: cover;
    position: relative;
    backgroun-repeat: no-repeat;
}

#fh5co-blocks .grid-item > .overlay-darker {
    z-index: 8;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#fh5co-blocks .grid-item > .overlay {
    background: #474747;
    opacity: 0;
    z-index: 9;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#fh5co-blocks .grid-item > .fh5co-text {
  position: relative;
  z-index: 10;
  color: #fff;
  text-align:left;
  margin: 00px 20px 0px 20px;
}
#fh5co-blocks .grid-item > .fh5co-text .fh5co-blocks-icon {
  font-size: 50px;
  color: #52d3aa;
  margin-bottom: 30px;
  display: block;
}
#fh5co-blocks .grid-item h2 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-align: left;
  margin: 20px 20px 0px 20px;
}
#fh5co-blocks .grid-item:hover > .overlay, #fh5co-blocks .grid-item:focus > .overlay {
  opacity: 0.5;
  z-index: 9;
}



.grid-item--width2 { width: 320px; max-width: 320px; }
.grid-item--width3 { width: 480px; max-width: 480px; }
.grid-item--width4 { width: 640px; max-width: 640px;}

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
