#fh5co-house .h2 {
    font-size: 50px;
    font-weight: 480;
    color: #494949;
    position: relative;
    top: 10px;
    left: 230px;
    text-align: left;
}

#fh5co-house .grid-item > .image {
    margin: 0 auto;
    width: 10vw;
    height: 10vw;
}

#fh5co-house .grid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
}

/* clearfix */
#fh5co-house .grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

#fh5co-house .grid-item {
    width: 10vw;
    height: 10vw;
    float: right;
    text-align: center;
    font-size: 20px;
    min-height: 100px;
    min-width: 100px;
    padding: 0px;
    z-index: 7;
    position: relative;
    border: none;
    background-size: 10vw 10vw;
    background-repeat: no-repeat;
}


#fh5co-house .grid-item--gigante {
    width: 500px;
    height: 500px;
    z-index: 2; /* abover other items */
}


#fh5co-house .grid-item > .overlay {
    border: none;
    background: #474747;
    opacity: 0;
    z-index: 9;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#fh5co-house .grid-item > .shortText {
    position: relative;
    z-index: 10;
    color: #444;
    text-align:center;
    margin: 00px 20px 0px 20px;
}

#fh5co-house .grid-item > .hiddenText {
    z-index: 10;
    color: #444;
    font-size: 20px;
    font-weight: 400;
    text-align:center;
    position: relative;
}

#fh5co-house .grid-item > .hide {
    display: none;
}


#fh5co-house .grid-item > .hi {
    font-size: 30px;
    font-weight: 400;
    color: #444;
    text-align: center;
    position: relative;
}

/* #fh5co-house .grid-item:hover > .h2, #fh5co-house .grid-item:focus > .h2 { */
/*     opacity: 1; */
/*     z-index: 13; */
/* } */

/* #fh5co-house .grid-item:hover > .overlay, #fh5co-house .grid-item:focus > .overlay { */
/*     opacity: 0.5; */
/*     z-index: 9; */
/* } */

