    #fh5co-timeline {
      display: block;
      position: relative;
      width: 100%;
    }
    #fh5co-timeline article {
      display: block;
      position: relative;
      float: left;
      clear: left;      
      width: 50%;
    }
    #fh5co-timeline article.right {
      float: right;
      clear: right;  
    }

/* LINE */
	  #fh5co-timeline:after {
		content: " ";
		display: block;
		clear: both;
	}
	  #fh5co-timeline:before {
		content: " ";
    position: absolute;
    
    top: 40px;
		bottom: 0px;
		left: 50%;
		
		width: 3px;
    margin-left: -1.5px;
    
		background-color: #eeeeee;
	}


/* CONTENT BOX */
	  #fh5co-timeline article div.content{
		position: relative; 
 		float: right;   
    
		border: 1px solid #d4d4d4;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);    
    
    width: 60%;   
    padding: 10px;

    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
	}
    #fh5co-timeline article.right div.content{
       float: left;
      
       margin-right: 0; 
       margin-left: 80px;      
    }

		#fh5co-timeline article figure, #fh5co-timeline article iframe, #fh5co-timeline article video{
			width: 100%!important;
      padding: 0!important;
		}


/* ARROWS */
		#fh5co-timeline article div.content:before {
			position: absolute;
			top: 10px;
			right: -15px;
			display: inline-block;
			border-top: 15px solid transparent;
			border-left: 15px solid #ccc;
			border-right: 0 solid #ccc;
			border-bottom: 15px solid transparent;
			content: " ";
		}
		#fh5co-timeline article.right div.content:before {
			border-left-width: 0;
			border-right-width: 15px;
			left: -15px;
			right: auto;
		}

		#fh5co-timeline article div.content:after {
			position: absolute;
			top: 11px;
			right: -13.7px;
			display: inline-block;
			border-top: 14px solid transparent;
			border-left: 14px solid #fff;
			border-right: 0 solid #fff;
			border-bottom: 14px solid transparent;
			content: " ";		
		}
		#fh5co-timeline article.right div.content:after {
			border-left-width: 0;
			border-right-width: 15px;
			left: -14px;
			right: auto;
		}

/* BADGE */
	  #fh5co-timeline article .badge a {
		text-decoration: none;
		color: inherit;
	}
	  #fh5co-timeline article .badge {
    position: absolute;
    top: 50px;
		right: 5px;
		z-index: 100; 
    
		width: 75px;
		height: 50px;
    
		line-height: 50px;
		font-size: 1.2em;
		text-align: center;
		
		cursor: default;
	}
		#fh5co-timeline article.right .badge{
			left: 5px;
		}

	  #fh5co-timeline article .badge:after{
		content: ' ';
		display: block;				
		position: absolute;
		top: 11px;
		right: -13px;
    		z-index: 10;
    
		width: 8px;
		height: 8px;
    
		background: #fff;
		border-radius: 10px;
		border: 4px solid #eeeeee;
	}
		#fh5co-timeline article.right > .badge:after{
			left: -13px;
		}
