<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        {{ partial "head.html" .}}
    </head>
    <body>
        {{ partial "nav.html" .}}

		{{ partial "hero.html" .}}
    <!--Intro-->
    {{ partial "intro.html" .}}

    <!--About FROSH-->
    {{ partial "newabout.html" .}}


    {{ if .Site.Params.services.enable }}
        {{ partial "services.html" .}}
    {{ end }}
    {{ partial "register.html" }}
        {{ partial "countdown.html" }}
        {{ partial "timeline.html" .}}        
        {{ partial "houses.html" .}}        
        {{ partial "slideshow.html" .}}        
        
        <!--- {{ partial "tempit.html" }} -->
        <!-- {{ partial "pix.html" }}
           -->
    <!--FAQ-->
    {{ partial "blocks.html" .}}

    {{ if .Site.Params.counters.enable }}
        {{ partial "counters.html" .}}
    {{ end }}

    {{ if .Site.Params.work.enable }}
        {{ partial "work.html" .}}
    {{ end }}

    {{ if .Site.Params.testimonials.enable }}
        {{ partial "testimonials.html" .}}
    {{ end }}

    <!--Guests-->
    {{ if .Site.Params.about.enable }}
        {{ partial "about.html" .}}
    {{ end }}
    <!--Leaders???-->
    {{ partial "hero_about_us.html" .}}
        <!-- {{ partial "leaders.html" .}}
           -->

    {{ if .Site.Params.sponsorship.enable }}
        {{ partial "sponsorship.html" .}}
    {{ end }}

    <!--Contact form-->
    {{ if .Site.Params.contact.enable }}
    	{{ partial "contact.html" .}}
    {{ end }}

    <!--Footer-->
    {{ if .Site.Params.footer.enable }}
    	{{ partial "footer.html" .}}
    {{ end }}

    {{ partial "js.html" .}}
    </body>
</html>
